// 顏色變數
$primary-color         : #586191;
$primary-color-opacity : #5861911a;
$text-color            : #333;
$light-color           : #fff;
$shadow-color          : #0000001a;

// 可以添加更多變數
$font-size-normal: 1rem;
$font-size-large : 1.35rem;